{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "resume_maker/style.css" %}">

    <title>Hello, world!</title>
</head>

<body>
<header>
    <nav class="bg-lggr">

        <div class="d-flex justify-content-between">
            <p class="display-4 ">PORTINY</p>
            <img class="logoimg bg-lggr" src="images/" alt="logo">
        </div>
    </nav>

</header>
<div class="p-2 m-4 bg-lggr">
    <h3 class="m-2 text-center font-weight-bold">Personal Details</h3>
</div>
<hr class="mx-auto horiline"/>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <form class="">
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1 " class="font-weight-bold">Name</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="Full Name">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Email</label>
            <input type="email" class="form-control inpuw" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlSelect1" class="font-weight-bold">Gender</label>
            <select class="form-control inpuw" id="exampleFormControlSelect1">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>

            </select>
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Phone NO</label>
            <input type="number" class="form-control inpuw" id="exampleFormControlInput1" placeholder=123456789">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlTextarea1" class="font-weight-bold">Address</label>
            <textarea class="form-control inpuw" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>


    </form>
</div>
<div class="p-2 m-4 bg-lggr">
    <h3 class="m-2 text-center font-weight-bold">Education</h3>
</div>
<hr class="mx-auto horiline"/>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <form class="">
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1 " class="font-weight-bold">Degree</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Year</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Institute</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Score</label>
            <input type="number" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Remarks</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>


    </form>
</div>
<div class="p-2 m-4 bg-lggr">
    <h3 class="m-2 text-center font-weight-bold">Work Experiance</h3>
</div>
<hr class="mx-auto horiline"/>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <form class="">
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Profile</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Title</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlTextarea1" class="font-weight-bold">Description</label>
            <textarea class="form-control inpuw" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

    </form>
</div>
<div class="p-2 m-4 bg-lggr">
    <h3 class="m-2 text-center font-weight-bold">Position And Responsibility</h3>
</div>
<hr class="mx-auto horiline"/>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <form class="">
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">First</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Last</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlInput1" class="font-weight-bold">Handle</label>
            <input type="text" class="form-control inpuw" id="exampleFormControlInput1" placeholder="">
        </div>

    </form>
</div>

<div class="p-2 m-4 bg-lggr">
    <h3 class="m-2 text-center font-weight-bold">Projects/Industrial Training/Certifications</h3>
</div>
<hr class="mx-auto horiline"/>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <form class="">

        <div class="form-group mx-5">
            <label for="exampleFormControlTextarea1" class="font-weight-bold">Projects
            </label>
            <textarea class="form-control inpuw" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group mx-5">
            <label for="exampleFormControlTextarea1" class="font-weight-bold">Industrial Training</label>
            <textarea class="form-control inpuw" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form-group mx-5">
            <label for="exampleFormControlFile1" class="font-weight-bold">Certificate</label>
            <input type="file" class="form-control-file inpuw" id="exampleFormControlFile1">
        </div>

    </form>
</div>
<div class="p-2 m-4 bg-lggr">
    <h3 class="m-2 text-center font-weight-bold">Academic Achievents And Awards</h3>
</div>
<hr class="mx-auto horiline"/>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <form class="">


        <div class="form-group mx-5">
            <label for="exampleFormControlTextarea1" class="font-weight-bold">Academic Achievents And Awards</label>
            <textarea class="form-control inpuw" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>


    </form>
</div>
<div class="p-2 m-4 bg-lggr">
    <h3 class="m-2 text-center font-weight-bold">Extra-Curricular Activaties And Achievents</h3>
</div>
<hr class="mx-auto horiline"/>
<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <form class="">


        <div class="form-group mx-5">
            <label for="exampleFormControlTextarea1" class="font-weight-bold">Extra-Curricular Activaties And
                Achievents</label>
            <textarea class="form-control inpuw" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>


    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>