{% load static %}
{%  load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link href="{% static "resume_maker/style.css" %}" rel="stylesheet" >


    <title>Resume</title>
</head>

<body>
<header>
    <nav class="navbar navbar-light bg-light">
    <div class="container">
  <a class="navbar-brand mx-auto" href="#">
    <img src="{% static "resume_maker/images/wha.jpeg" %}" width="150" height="30" alt="">
  </a></div>
</nav>

</header>
<div class="container my-5 px-5 ">
    <div class="progress  " id="movebar">
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
             class="progress-bar linergra" role="progressbar" style="width:30%">
            <span class="font-weight-bold text-dark">30%</span>

        </div>
    </div>
</div>
<div class="container">
   <div class="shadow p-2 bg-white rounded  m-4 bg-lggr d-flex flex-wrap  justify-content-center linergra" style="border-radius: 6rem;">
    <h3 class="m-2 text-center font-weight-bold" >Education</h3>
</div>
<hr class="mx-auto linergra"/>
    <div class="container shadow-sm p-3 mb-5 whitesm rounded ">
        <!--    <div class="d-flex flex-wrap justify-content-between">-->
        <!--    <form method="post" class=" col-6 d-flex flex-wrap flex-column ">{% csrf_token %}-->
        <!--        <div class="form-group mx-5">-->
        <!--            <label for="exampleFormControlInput1" class="font-weight-bold">Degree</label>-->
        <!--            <input  type="text" class="form-control inputt" id="exampleFormControlInput1" placeholder="">-->
        <!--        </div>-->
        <!--        <div class="form-group mx-5">-->
        <!--            <label for="exampleFormControlInput1" class="font-weight-bold">Year</label>-->
        <!--            <input type="text" class="form-control inputt" id="exampleFormControlInput1" placeholder="">-->
        <!--        </div>-->

        <!--        <div class="form-group mx-5">-->
        <!--            <label for="exampleFormControlInput1" class="font-weight-bold">Institute</label>-->
        <!--            <input type="text" class="form-control inputt" id="exampleFormControlInput1" placeholder="">-->
        <!--        </div>-->
        <!--        <div class="form-group mx-5">-->
        <!--            <label for="exampleFormControlInput1" class="font-weight-bold">Score</label>-->
        <!--            <input type="number" class="form-control inputt" id="exampleFormControlInput1" placeholder="">-->
        <!--        </div>-->
        <!--        <div class="form-group mx-5">-->
        <!--            <label for="exampleFormControlInput1" class="font-weight-bold">Remarks</label>-->
        <!--            <input type="text" class="form-control inputt" id="exampleFormControlInput1" placeholder="">-->
        <!--        </div>-->

        <!--    </form>-->
        <!--    <div class="col-6">-->
        <!--        <ul>-->
        <!--            {% if not degree == None %}-->
        <!--            <li class="font-weight-bold">Degree:{{ degree }}</li>-->
        <!--            <li class="font-weight-bold">score:{{ score }}</li>-->
        <!--            <li class="font-weight-bold">institute:{{institute }}</li>-->
        <!--            <li class="font-weight-bold">year:{{ year }}</li>-->
        <!--            {% endif %}-->
        <!--        </ul>-->


        <!--    </div>-->


        <!-- Button trigger modal -->
        <div class="row ">
            <button class="py-2 mx-auto btn  hoverbtn  align-self-start" data-target="#exampleModalCenter"
                  style="border-radius: 4rem;"  data-toggle="modal"
                    type="button"  >
                + Add Education Details
            </button>
        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow" id="exampleModalCenter"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header whitesm ">
                        <h5 class="modal-title " id="exampleModalCenterTitle">Education</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body whitesm ">
                        <div class="container shadow-sm  rounded whitesm  mx-auto">
                            <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                {{ edu | crispy }}
                                <!--<div class="row mx-1 my-3">
                                    <div class="mx-5 custom-control custom-radio custom-control-inline">
                                        <input class="whitesm  custom-control-input" id="customRadioInline1" name="customRadioInline1"
                                               onclick="pursu()" type="radio">
                                        <label class="custom-control-label" for="customRadioInline1">Pursuing</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mx-5 ">
                                        <input class="custom-control-input whitesm " id="customRadioInline2" name="customRadioInline1"
                                               onclick="comple()" type="radio">
                                        <label class="custom-control-label" for="customRadioInline2">Completed</label>
                                    </div>
                                </div>


                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlSelect1">Degree</label>
                                    <input class="form-control inputt whitesm " id="exampleFormControlInput1" name="degree"
                                            placeholder="e.g. MBA"
                                           required
                                           type="text">
                                </div>
                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlInput1">Start Year</label>
                                    <input class="form-control inputt whitesm " id="exampleFormControlInput1" name="syear"
                                           placeholder=""
                                           required
                                           type="month">
                                </div>
                                <div class="form-group mx-5" id="pursuing_Par">
                                    <label class="font-weight-bold" for="exampleFormControlInput1"><span
                                            id="pursuing_Chi">Expected End Year</span> </label>
                                    <input class="whitesm  form-control inputt" id="exampleFormControlInput1" name="eyear"
                                           placeholder=""
                                           required
                                           type="month">
                                </div>

                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlInput1">Institute</label>
                                    <input class=" whitesm  form-control inputt" id="exampleFormControlInput1" name="institute"
                                           placeholder="Your Institute"
                                           required
                                           type="text">
                                </div>
                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlInput1">Score</label>
                                    <input class="form-control inputt whitesm " id="exampleFormControlInput1" name="score"
                                           placeholder="In CGPA"
                                           required
                                           type="number">
                                </div>-->


                                <div class="align-self-center ">

                                    <button class="btn hoverbtn"  style="border-radius: 1rem;"  type="submit">Save</button>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="row my-4">
            <div class="d-flex justify-content-between inputt mx-auto">
                <a class=" " href="getinput.html">
                    <button class="btn hoverbtn modbtn"  style="border-radius: 1rem;" type="button"
                    >
                        Back
                    </button>
                </a>

            <a class="  " href="work">
                <button class="btn hoverbtn modbtn"  style="border-radius: 1rem;"  type="submit"
                >
                    Next
                </button>
            </a>

            <!--<a class="  " href="work">
                <button class="btn hoverbtn modbtn"  style="border-radius: 1rem;" onclick="alert('Please add Educational Details')"  type="button"
                >
                    Next
                </button>
            </a>-->

            </div>
        </div>
        <br/>
        {% if request.method == 'POST' %}
        <div class="row">
            <div class="col-6 " >

                        <table class="table table-bordered" style="max-width: 220px; border: 2px solid rgba(160,87,20,0.7);">

                            <tbody>
                            <tr >

                                <td class="font-weight-bold " style="border: 2px solid  rgba(160,87,20,0.7)" >Degree</td>
                                <td class="variabletext "style="border: 2px solid  rgba(160,87,20,0.7)" >{{ degree }}</td>

                            </tr>
                            <tr>

                                <td class="font-weight-bold " style="border: 2px solid  rgba(160,87,20,0.7)">Start Year</td>
                                <td class="" style="font-family: 'Cambria Math';border: 2px solid  rgba(160,87,20,0.7);">{{ syear }}</td>
                            </tr>
                            <tr>

                                <td class="font-weight-bold "style="border: 2px solid  rgba(160,87,20,0.7)">End Year</td>
                                <td class="variabletext "style="border: 2px solid  rgba(160,87,20,0.7)">{{ eyear }}</td>

                            </tr>
                            <tr>

                                <td class="font-weight-bold "style="border: 2px solid  rgba(160,87,20,0.7)">Institute</td>
                                <td class="variabletext "style="border: 2px solid  rgba(160,87,20,0.7)">{{ institute }}</td>

                            </tr>

                            <tr>

                                <td class="font-weight-bold "style="border: 2px solid  rgba(160,87,20,0.7)">Score</td>
                                <td class="" style="font-family: 'Cambria Math';border: 2px solid  rgba(160,87,20,0.7);">{{ score }}</td>

                            </tr>


                            </tbody>
                        </table>
                <div class="row" style="max-width: 200px">
                <button class="mx-3 btn transi hoverbtn  align-self-start" data-target="#exampleModalCenter2"
                    data-toggle="modal" style="border-radius: 4rem;"
                    type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
            </button>
                 <button class="mx-3 btn transi hoverbtn  align-self-start" data-target="#exampleModalCentererse"
                    data-toggle="modal" style="border-radius: 4rem;"
                    type="button" onclick="erasedata()">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
                 </button></div>



                <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade mow" id="exampleModalCenter2"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header whitesm ">
                        <h5 class="modal-title " id="exampleModalCenterTitle">Education</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body whitesm ">
                        <div class="container shadow-sm  rounded whitesm  mx-auto">
                            <form class="d-flex flex-column flex-wrap " method="post">{% csrf_token %}
                                <div class="row mx-1 my-3">
                                    <div class="mx-5 custom-control custom-radio custom-control-inline">
                                        <input class="whitesm  custom-control-input" id="customRadioInline1" name="customRadioInline1"
                                               onclick="pursu()" type="radio">
                                        <label class="custom-control-label" for="customRadioInline1">Pursuing</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mx-5 ">
                                        <input class="custom-control-input whitesm " id="customRadioInline2" name="customRadioInline1"
                                               onclick="comple()" type="radio">
                                        <label class="custom-control-label" for="customRadioInline2">Completed</label>
                                    </div>
                                </div>


                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlSelect1">Degree</label>
                                    <input class="form-control inputt whitesm " id="exampleFormControlInput1" name="degree"
                                           value="{{ degree }}"
                                           required
                                           type="text">
                                </div>
                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlInput1">Start Year</label>
                                    <input class="form-control inputt whitesm " id="exampleFormControlInput1" name="syear"
                                          value="{{ syear }}"
                                           required
                                           type="month">
                                </div>
                                <div class="form-group mx-5" id="pursuing_Par">
                                    <label class="font-weight-bold" for="exampleFormControlInput1"><span
                                            id="pursuing_Chi">Expected End Year</span> </label>
                                    <input class="whitesm  form-control inputt" id="exampleFormControlInput1" name="eyear"
                                          value="{{ eyear }}"
                                           required
                                           type="month">
                                </div>

                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlInput1">Institute</label>
                                    <input class=" whitesm  form-control inputt" id="exampleFormControlInput1" name="institute"
                                           value="{{ institute }}"
                                           required
                                           type="text">
                                </div>
                                <div class="form-group mx-5">
                                    <label class="font-weight-bold" for="exampleFormControlInput1">Score</label>
                                    <input class="form-control inputt whitesm " id="exampleFormControlInput1" name="score"
                                          value="{{ score }}"
                                           required
                                           type="number">
                                </div>

                                <div class="align-self-center ">

                                    <button class="btn hoverbtn"  style="border-radius: 1rem;"  type="submit">Save</button>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
<script>
    function pursu() {

        var p = document.getElementById('pursuing_Chi');
        p.innerHTML = 'Expected End Year';

    }

    function comple() {

        var p = document.getElementById('pursuing_Chi');
        p.innerHTML = 'End Year';

    }
    function erasedata(){
        var c=document.getElementById("exampleFormControlInput1");
        c.innerHTML='None';

    }
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>


